@model ShopCartViewModel

<section>
    <h2>Ваша корзина</h2>
    <ul class="small-image-list">
        @foreach (var entity in Model.shopCart.ShopCartItems)
        {
            <li>
                <h4>
                    @entity.Jewelery.Name
                </h4>
                <p>
                    @entity.Jewelery.ShortDesc
                </p>
                <p>
                    @entity.Jewelery.Price.ToString()
                </p>
            </li>
        }
    </ul>
    <a asp-area="" asp-controller="Order" asp-action="Checkout">Оплатить</a>
</section>